@import './mixin.scss';
@import './size.scss';

.main-container {
    margin: 20px;
}

.search-wrapper {
    display: flex;
    margin-bottom: 15px;

    .search-item {
        width: 200px;
    }

    .filter-item {
        margin-right: 10px;
    }
}

.bottom-pagination {
    margin-top: 10px;
    text-align: right;
}