//字体大小

.f48 {
  font-size: 48px;
}
.f46 {
  font-size: 46px;
}
.f44 {
  font-size: 44px;
}
.f42 {
  font-size: 42px;
}
.f40 {
  font-size: 40px;
}
.f38 {
  font-size: 38px;
}
.f36 {
  font-size: 36px;
}
.f34 {
  font-size: 34px;
}
.f32 {
  font-size: 32px;
}
.f30 {
  font-size: 30px;
}
.f28 {
  font-size: 28px;
}
.f26 {
  font-size: 26px;
}
.f24 {
  font-size: 24px;
}
.f22 {
  font-size: 22px;
}
.f20 {
  font-size: 20px;
}
.f18 {
  font-size: 18px;
}
.f16 {
  font-size: 16px;
}
.f14 {
  font-size: 14px;
}
.f13 {
  font-size: 13px;
}
.f12 {
  font-size: 12px;
}
.f10 {
  font-size: 10px;
}
.fbold {
  font-weight: bold;
}
// 块间隔
.margin {
  height: 20px;
  background: #f7f7f7;
}

.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
//宽度
.wd10 {
  width: 10px;
}
.wd20 {
  width: 20px;
}
.wd30 {
  width: 30px;
}
.wd40 {
  width: 40px;
}
.wd50 {
  width: 50px;
}
.wd60 {
  width: 60px;
}
.wd70 {
  width: 70px;
}
.wd80 {
  width: 80px;
}
.wd90 {
  width: 90px;
}
.wd100 {
  width: 100px;
}
.wd110 {
  width: 110px;
}
.wd120 {
  width: 120px;
}
.wd130 {
  width: 130px;
}
.wd140 {
  width: 140px;
}
.wd150 {
  width: 150px;
}
.wd160 {
  width: 160px;
}
.wd170 {
  width: 170px;
}
.wd180 {
  width: 180px;
}
.wd190 {
  width: 190px;
}
.wd200 {
  width: 200px;
}
